{% extends "reviews/layout.html"%}
{% load static %}

{% block body %}
<div class="container" style="max-width:1400px;">
    <div class="row">
        <div class="col-12 text-center">
            <h1>About ResWorx</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-center">
            <p>If you've worked in the NYC hospitality industry, you know how hard it is to find the right 
                restaurant that pays well, is consistent and has a good ennvironment. You might try to look up employee reviews for the restaurant and sure there are websites for this but it's near impossible to find
                in depth info specifically for the hospitality industry. Most of the time you don't 
                even know how much you can earn until your first day of work. You start and can finally talk to a co-worker only to find that 
                the pay is not what you expected or hoped to be. That sucks. Now you've wasted time you could have spent
                searching for the right job.  
            </p>
            <p>This is where ResWorx comes in.</p>
            <p>Here you can review your current employer, search for restaurants and form your opinion before applying or starting your new job
                to see if it's worth it for you.</p>
            <p>The reviews and information are always anynomous and not shared with anybody.</p>
            <p>Help Others Make A Decision</p>
            <p>Log in here or register</p>
        </div>
    </div>
</div>

{% endblock %}